<aside class="aside">
    <header class="aside__user-block user-block">
        <img src="img/avatar-kyle.jpg" alt="user image" class="user-block__image" width="64" height="64">
        <p class="user-block__name">Kyle Ledbetter</p>
        <a href="#" class="user-block__mail">
            kyle@kyleledbetter.com 
        </a>
    </header>
    <main class="aside__main">
        <ul class="aside__list">
            <li>
                <a href="#" class="aside__link aside__link--active">
                    <svg width="20" height="20">
                        <use xlink:href="#icon-time"></use>
                    </svg>
                    Recent Contacts
                </a>
            </li>
            <li>
                <a href="#" class="aside__link">
                    <svg width="18" height="18">
                        <use xlink:href="#icon-archive"></use>
                    </svg>
                    Archive
                </a>
            </li>
            <li>
                <a href="#" class="aside__link">
                    <svg width="18" height="13">
                        <use xlink:href="#icon-done"></use>
                    </svg>
                    Replied
                </a>
            </li>
        </ul>
        <ul class="aside__list">
            <li>
                <a href="#" class="aside__link">
                    <svg width="21" height="18">
                        <use xlink:href="#icon-send"></use>
                    </svg>
                    Sent
                </a>
            </li>
            <li>
                <a href="#" class="aside__link">
                    <svg width="14" height="18">
                        <use xlink:href="#icon-delete"></use>
                    </svg>
                    Trash
                </a>
            </li>
            <li>
                <a href="#" class="aside__link">
                    <svg width="20" height="19">
                        <use xlink:href="#icon-star"></use>
                    </svg>
                    Starred
                </a>
            </li>
            <li>
                <a href="#" class="aside__link">
                    <svg width="20" height="20">
                        <use xlink:href="#icon-forum"></use>
                    </svg>
                    Forums
                </a>
            </li>
            <li>
                <a href="#" class="aside__link">
                    <svg width="14" height="16">
                        <use xlink:href="#icon-flag"></use>
                    </svg>
                    Updates
                </a>
            </li>
        </ul>
    </main>
</aside>