<article class="card sticky">
    <div class="card__user-block">
        <button class="card__back button button--back" type="button">
            <svg width="16" height="16">
                <use xlink:href="#icon-arrow-back"></use>
            </svg>
        </button>
        <button class="card__edit button button--edit" type="button">
            <svg width="18" height="18">
                <use xlink:href="#icon-create"></use>
            </svg>
        </button>
        <button class="card__more button button--more" type="button">
            <svg width="4" height="16">
                <use xlink:href="#icon-more"></use>
             </svg>
        </button>
    </div>
    <div class="card__user-data">
        <img src="img/contact-james.jpg" alt="contact photo" class="card__image">
        <p class="card__name">James Connors</p>
    </div>
    <div class="card__contacts"> 
        <svg width="18" height="18" class="card__svg">
            <use xlink:href="#icon-call"></use>
        </svg>
        <ul class="card__list card__list--phones">
            <li>
                <a href="#" class="card__link">(650) 555-1234</a>
                <p class="card__description">Mobile</p>
                <button class="button button--hangout card__hangout" type="button">
                    <svg width="17" height="21">
                        <use xlink:href="#icon-hangout"></use>
                     </svg>
                </button>
            </li>
            <li>
                <a href="#" class="card__link">(323) 555-6789</a>
                <p class="card__description">Work</p>
                <button class="button button--hangout card__hangout" type="button">
                     <svg width="17" height="21">
                        <use xlink:href="#icon-hangout"></use>
                     </svg>
                </button>
            </li>
        </ul>
         <svg width="20" height="16" class="card__svg">
            <use xlink:href="#icon-email"></use>
        </svg>
        <ul class="card__list card__list--mails">
            <li>
                <a href="#" class="card__link">aliconnors@example.com</a>
                <p class="card__description">Personal</p>
            </li>
            <li>
                <a href="#" class="card__link">ali_connors@example.com</a>
                <p class="card__description">Work</p>
            </li>
        </ul>
         <svg width="14" height="20" class="card__svg">
            <use xlink:href="#icon-place"></use>
        </svg>
        <ul class="card__list card__list--adresses">
            <li>
                <a href="#" class="card__link">2000 SW 1st Ave <br> San Francisco, CA 94112</a>
                <p class="card__description">Home</p>
            </li>
            <li>
                <a href="#" class="card__link">1600 Amphitheatre Pkwy <br> Mountain View, CA 94043</a>
                <p class="card__description">Work</p>
            </li>
        </ul>
    </div>
    <button class="button button--big button--create card__create" type="button">
        <svg width="18" height="18">
            <use xlink:href="#icon-create"></use>
        </svg>
    </button>
</article>
