<section class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts__block">
        <h3 class="contacts__heading">★</h3>
        <ul class="contacts__list">
            <li><a href="#" class="contacts__link"><img src="img/avatar-carolyn.png" alt="contact image" width="39" height="39"><span>Carolyn Campbell</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-jenifer.png" alt="contact image" width="39" height="39"><span>Jennifer Carpenter</span></a></li>
            <li><a href="#" class="contacts__link contacts__link--active"><img src="img/avatar-james.jpg" alt="contact image" width="39" height="39"><span>James Connors</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-beverly.png" alt="contact image" width="39" height="39"><span>Beverly Harris</span></a></li>
        </ul>
    </div>
    <div class="contacts__block">
        <h3 class="contacts__heading">A</h3>
        <ul class="contacts__list">
            <li><a href="#" class="contacts__link"><img src="img/avatar-brittany.png" alt="contact image" width="39" height="39"><span>Brittany Delgado</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-wayne.png" alt="contact image" width="39" height="39"><span>Wayne Ray</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-rachel.png" alt="contact image" width="39" height="39"><span>Rachel Ross</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-bruce.png" alt="contact image" width="39" height="39"><span>Bruce Morales</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-evelyn.png" alt="contact image" width="39" height="39"><span>Evelyn Morales</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-marie.png" alt="contact image" width="39" height="39"><span>Marie Fuller</span></a></li>
        </ul>
    </div>
    <div class="contacts__block">
        <h3 class="contacts__heading">B</h3>
        <ul class="contacts__list">
            <li><a href="#" class="contacts__link"><img src="img/avatar-gregory.png" alt="contact image" width="39" height="39"><span>Gregory Burton</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-beverly-a.png" alt="contact image" width="39" height="39"><span>Beverly Armstrong</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-evelyn.png" alt="contact image" width="39" height="39"><span>Evelyn Morales</span></a></li>
            <li><a href="#" class="contacts__link"><img src="img/avatar-marie.png" alt="contact image" width="39" height="39"><span>Marie Fuller</span></a></li>
        </ul>
    </div>
</section>
