<!doctype html>
<html lang="ru">

<head>
  <title>{{ title | default("Axiom") }}</title>
  <meta charset="UTF-8">
  <meta content="min-width=1000px, initial-scale=1, user-scalable=no" name="viewport"> 
  {% block styles %}{% endblock %}
  <link href="css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
 <div style="display:none">
    {% include '../../../build/img/sprite.svg' %}
  </div>
  <div class="body {{ class }}">
    {% block body %}{% endblock %}
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--  <script src="js/scripts.js"></script>-->
 {% block scripts %}{% endblock %}
</body>
</html>
