$deafult-font: 'Roboto', Arial, Helvetica, sans-serif;

$white: #ffffff;
$black: #000000;

$gray: #d8d8d8;
$gray-light: #eeeeee;
$gray-dark: #4d4d4e;

$warm-gray: #999999;
$warm-gray-dark: #757575;
$warm-gray-light:#7d7d7d;

$pink: #ff3e81;

$azure: #2196f3;
$cerulean: #0277bd;

$shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
$hover: all ease-in 0.3s;

//@custom-media --big_tablet (max-width: 1199px);
//@custom-media --tablet (max-width: 979px);
//@custom-media --w_mobile (max-width: 639px);